.landing {
  position: relative !important;
  color: #384548;
}
.top-left {
  position: absolute;
  top: 100px;
  left: 0;
  width: 25%;
}
img {
  width: 100%;
}
span {
  color: #f28341;
}
@media (max-width: 970px) {
  .top-left {
    display: none;
  }
}
