.card-body {
  padding: 10px;
  margin-left: 10px;
}

span.badge {
  display: inline-table;
}
h5 {
  margin-left: 15px;
  font-size: 18px !important;
}
div.form-check {
  font-size: 16px;
}

@media only screen and (max-width: 600px) {
  h5 {
    font-size: 13px !important;
  }
  span.type {
    font-size: 12px !important;
  }
}
